# Ignore Eclipse config
target/
.settings/
.classpath
.project

# Ignore Mac files
.DS_Store
.log

.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
